.panelbox
{
	float: left;
	width: 730px;
	padding: 5px;
}
.panelbox2
{
	width: 76%;
	padding: 5px;
}
.title
{
	background: #E15151;
	font: 12.3pt Calibri;
	height: 23px;
	text-align: center;
	border-radius: 3px;
	color: #FFFFFF;
	font: medium / 1em Arial;
	padding-top: 4px;
}
.description
{
	padding-top: 3px;
	text-indent: 0.8em;
	font: italic normal small / 1em Arial;
	color: #404040;
}
.ubox
{
}
.form-div
{
}
.ntext
{
	font: small-caps 11.6pt Arial;
	height: 20px;
}
.textarea-input
{
	resize: both;
}
.select-input
{
}
.selector
{
}
.button
{
	background: #DC6843;
	border: 1px solid #F0E8CD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font: normal 12.3pt Calibri;
	padding: 5px 11px 5px 9px;
	color: #FFF;
	float: right;
	margin-left: 9px;
	cursor: pointer;
	font: 100 10pt Arial;
	text-transform: uppercase;
	height: 29px;
	width: auto;
	margin-top: 3px;
}
.top
{
	height: 27px;
	background: #E15151;
	padding-bottom: 2px;
	border-radius: 5px;
	padding-top: 5px;
}
.loginbar
{
	background: url(img/key.png) no-repeat 3px 4px;
}
.usertop
{
	font: normal 0.9em / 1.7 Arial;
	color: #DFDFDF;
	text-indent: 1.6em;
	float: left;
	height: 24px;
	padding-bottom: 3px;
}
.usertop:hover
{
	color: #FFFFFF;
}
.usertop A:hover
{
	color: #FFFFFF;
}
.usertop A
{
	text-decoration: none;
	color: #D5CFCF;
}
.close-session
{
	background: url(img/lock.png) no-repeat;
	margin-right: -45px;
	/*+placement:shift 5px 3px;*/
	position: relative;
	left: 5px;
	top: 3px;
}
.icon-close
{
}
.langmenu
{
	border: 0;
	-webkit-appearance: none;
	float: right;
	font: 10.4pt Arial;
	-webkit-appearance: none;
	background: #FFFFFF;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-position: 82px 7px;
	/*Position of the background-image*/
	width: 78px;
	/*Removes default arrow from firefox
Removes default arrow from firefox*/
	margin-right: 7px;
	margin-top: 2px;
	height: 19px;
	padding-top: 2px;
	padding-left: 3px;
}
.langmenu-div
{
	float: right;
	width: 40%;
	height: initial;
}
.email-input
{
	background: #FFFFFF url(img/user.png) no-repeat;
	text-indent: 1.4em;
	border: thin solid #D4CFCF;
	width: 170px;
	height: 24px;
	font: small / 1em Arial;
	color: #615555;
}
.text-input
{
	background: #FFFFFF no-repeat;
	border: thin solid #D4CFCF;
	width: 170px;
	height: 24px;
	font: small / 1em Arial;
	color: #615555;
}
.pass-input
{
	background: #FFFFFF no-repeat;
	border: thin solid #D4CFCF;
	width: 170px;
	height: 24px;
	font: medium / 1em Arial;
	color: #615555;
}
TABLE.infotable
{
}
TABLE.infotable TD.infotable1
{
	width: 23%;
	text-align: center;
}
TABLE.infotable TD.infotable2
{
	width: 30%;
	text-align: left;
	font: italic normal small / 1em Arial;
}
.ticketbox
{
}
.ticketbox-title
{
	font: normal normal medium / 1em Arial;
	margin-bottom: 5px;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
}
.ticketbox-user
{
	float: left;
	background: #DFDFDF url(img/user.png) no-repeat;
	width: 75%;
	text-indent: 1.3em;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	font: normal 10.4pt Arial;
	text-align: left;
}
.ticketbox-date
{
	float: right;
	background: #DFDFDF url(img/date.png) no-repeat;
	width: 23%;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	text-align: left;
	text-indent: 0.9em;
	font: normal 10.6pt Arial;
}
.ticketbox-file
{
}
.dateicon
{
}
.ticketbox-content
{
	overflow: hidden;
	text-align: center;
	width: 90%;
	/*[empty]background:;*/
	border: 1px solid #DFDFDF;
	margin-top: 31px;
	font: italic small / 1em Arial;
}
.commentstitle
{
	border: 1px solid #C2C4C7;
	margin-top: 9px;
	background: #DC6843 url(img/comments.png) no-repeat 3px 3px;
	color: #FFFFFF;
	font: normal 12.2pt Arial;
	border-radius: 4px;
	height: 20px;
	padding-top: 2px;
}
.commentbox
{
	border: 1px solid #DFDFDF;
	border-radius: 1px;
	margin-top: 13px;
	margin-bottom: 11px;
	font: 10.4pt Arial;
}
.comment-name-user
{
	float: left;
	background: url(img/comment.png) no-repeat 2px 1px;
	text-indent: 1.3em;
	padding-top: 1px;
	padding-left: 4px;
}
.comment-name-staff
{
	float: left;
	background: url(img/user_comment.png) no-repeat 2px 1px;
	border-radius: 4px;
	text-indent: 1.5em;
	color: #5989D5;
	padding-top: 3px;
}
.commentbox-date
{
	float: right;
	background: url(img/date.png) no-repeat;
	width: 144px;
}
.commentbox-content
{
	margin-top: 26px;
	font: small / 1em Arial;
}
.responsetitle
{
}
.responsebox
{
}
.response-name-user
{
}
.response-area
{
}
.textarearesponse
{
}
.panelmessage
{
}
.successmessage
{
}
.errormessage
{
}
TABLE.ticketlist
{
	width: 100%;
	font: 1em Arial;
	margin-top: 5px;
}
TABLE.ticketlist TR.toptr
{
	font: italic small-caps medium / 1em Arial;
}
TABLE.ticketlist TD.toptd
{
	width: 42%;
	font-weight: normal;
}
TABLE.ticketlist TR.trlist
{
}
TABLE.ticketlist TD.tdlist
{
	font: italic small / 1em Arial;
	color: #524D4D;
}
.ticketlist .opent A
{
	color: #020202;
}
.idnumber
{
}
.menupanel
{
	float: right;
	width: 184px;
}
UL.panel-full
{
	list-style: none;
	margin-left: -38px;
}
UL.panel-full LI.panel-line
{
	text-indent: 1.3em;
	padding: 3px;
}
.main
{
	margin-top: 31px;
	width: 100%;
}
.login
{
	display: inline;
	text-align: left;
	width: 169px;
	padding: 10px;
	float: right;
	height: 139px;
}
.email-field
{
}
.pass-field
{
}
.submit-field
{
}
.box
{
	width: 200px;
	padding: 10px;
	float: right;
	text-align: right;
}
.box_title
{
	font: normal 12.4pt Calibri;
	height: 21px;
	font: 0.9em Arial;
	color: #D9D9D9;
}
.dtext
{
	font: 0.8em Arial;
}
.endbar
{
	text-align: center;
	background: #E15151;
	color: #CCCCCC;
	overflow: hidden;
	width: 100%;
}
.all
{
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-spacing: 0px;
	width: 930px;
}
.box_title A
{
	color: #D9D9D9;
	text-decoration: none;
}
.upanel
{
	width: 100%;
}
.closet
{
	background: #DFDFDF url(img/bullet_key.png) no-repeat -1px -1px;
	text-indent: 1.2em;
	font: normal normal bold 11pt Calibri;
	border: 1px solid #3434E8;
	border-radius: 2px;
}
.opent
{
	text-indent: 0.1em;
	font: normal normal bold 11pt Calibri;
	background: #FCE4E4;
	border: 1px solid #E83434;
	border-radius: 2px;
}
#menu-tickets
{
	background: #DC6843 url(img/page.png) no-repeat 4px 3px;
	border: 2px solid #DC6843;
	border-radius: 5px;
	margin-bottom: 3px;
}
#menu-new
{
	background: #DC6843 url(img/page_add.png) no-repeat 4px 3px;
	border: 2px solid #DC6843;
	border-radius: 5px;
	margin-bottom: 3px;
}
#menu-tickets:hover
{
	border-color: #E8EEFE;
}
#menu-new:hover
{
	border-color: #E8EEFE;
}
#menu-docs
{
	background: #DC6843 url(img/folder_page.png) no-repeat 4px 3px;
	border: 2px solid #DC6843;
	border-radius: 5px;
	margin-bottom: 3px;
}
#menu-docs:hover
{
	border-color: #E8EEFE;
}
#menu-edit
{
	background: #DC6843 url(img/user_edit.png) no-repeat 4px 3px;
	border: 2px solid #DC6843;
	border-radius: 5px;
	margin-bottom: 3px;
}
#menu-edit:hover
{
	border-color: #E8EEFE;
}
#departmentselect
{
}
#langselect
{
}
#create_user
{
	background: #DC6843 url(img/user_add.png) no-repeat 2px 2px;
	text-align: left;
	text-indent: 1.2em;
}
#about_articles
{
	background: #DC6843 url(img/folder_page.png) no-repeat 2px 2px;
	text-align: left;
	text-indent: 1.2em;
	padding-left: 6px;
}
#check_ticket
{
	background: #DC6843 url(img/page_find.png) no-repeat 2px 2px;
	text-align: left;
	text-indent: 1.2em;
	font: 1em Calibri;
}
#submit_ticket
{
	background: #DC6843 url(img/page_add.png) no-repeat 2px 2px;
	text-align: left;
	text-indent: 1.2em;
	font: 1em Calibri;
}
.welcomediv
{
	text-align: left;
}
.welcometitle
{
	font-weight: bold;
	color: #DC6843;
	font: normal 22.5pt Arial;
}
.welcometext
{
	font: small / 1em Arial;
}
.endbar A
{
	text-decoration: none;
	color: #FFFFFF;
}
.email-input:hover
{
	border-color: #9F9F9F;
}
.pass-input:hover
{
	border-color: #9F9F9F;
}
.text-input:hover
{
	border-color: #9F9F9F;
}
.menupanel A
{
	text-decoration: none;
	color: #FFFFFF;
	font: small / 1em Arial;
}
TABLE.ticketlist A
{
	text-decoration: none;
	color: #DA0909;
}
